input{
    background-color: #F8F7F5;
    text-align: start;
    height: 50px;
    border-style: none;
}
  ::-webkit-input-placeholder {
    text-align: start;
  }
  
  :-moz-placeholder {
    text-align: start;
  }

  button{
      border-style: none;
      background-color: #F06C4E;
      color: white;

  }

 
  .api-card{
    
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
}
.api-card img{
  object-fit: cover;
  height: 70%;
}
.api-card-body{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.half-widthBtn{
  float: left;
  width: 35%;
  margin: 5px 5%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 700;
  background-color:  #F06C4E;
}
.double-button{
  display: inline;
}
#white{
  color: white;
}
.orangeShade{
  color:  #E33741;
}




input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul li {
  padding: 5px 0;
}
.bg-off-white{
  background-color: whitesmoke;
}
.margin{
  margin-left:200px;
  text-align: center;
}